<p>
  <%= content_tag(:label, l(:label_show_project_manager)) %>
  <%= check_box_tag 'settings[show_project_manager]', 1, @settings[:show_project_manager] %>
  <em class="info"><%= l(:show_project_manager_info) %></em>
</p>

<p>
  <%= content_tag(:label, l(:label_project_manager_name)) %>
  <%= select_tag 'settings[project_manager_name]', roles_for_select(@settings[:project_manager_name].to_s) %>
  <em class="info"><%= t(:project_manager_name_info) %></em>
</p>
